<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Task List</h4>
                        <p class="card-category">Assignments</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Subject
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Assign To
                                    </th>
                                    <th>
                                        Comments
                                    </th>
                                    <th>
                                        Followup Date
                                    </th>
                                    <th>
                                        Is Satisfied
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let task of taskResponseList">
                                        <td>
                                            {{task.id}}
                                        </td>
                                        <td>
                                            {{task.subject}}
                                        </td>
                                        <td>
                                            {{task.description}}
                                        </td>
                                        <td>
                                            {{task.assignTo}}
                                        </td>
                                        <td>
                                            {{task.comment}}
                                        </td>
                                        <td class="text-primary">
                                            {{task.followUpDate | date:'d/M/yy, h:mm a'}}
                                        </td>
                                        <td class="text-primary">
                                            {{task.satisfied}}
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>